flask                          
python-dotenv                
pytest                         
pytest-cov                      
requests                      
selenium                  
flake8  
psutil     
prometheus_client>=0.16.0