define host {
    use             linux-server
    host_name       devops-app
    alias           Technical Debt Tracker
    address         localhost
    max_check_attempts 5
    check_period    24x7
    notification_interval 30
}